
@media (min-width: 1200px) {
	.container-big{
		max-width: 1280px;
	}
}

#influence {
	background-image: url(img/WOW.jpg);
	background-position: center;
	background-size:cover;
}


#influence h2{
	color: #ebdec2;
	font-size:14,688px;
	font-weight:400;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	line-height: 1.5;
	text-transform: uppercase;
	text-align: right;
	
}
	

#influence h1{
	color: white;
	font-size:43.86px;
	font-weight:700;
	font-family: Semplicita Pro,Open Sans,Arial,Helvetica,sans-serif;
	line-height:65.79px;
	text-align: right;
}


#influence p{
	color: #ebdec2;
	text-align:right;
	font-size:14.688px;
	font-weight: 400px;
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	line-height:22.032px;
	margin-top:20px
}	

a:hover {
	background-color: #211510;
	box-sizing:border-box;
	color:#f7b10a;
	cursor:pointer
	font-family: Open Sans,Arial,Helvetica,sans-serif;
	text-align: center;
	line-height: 1.5;
	font-weight: 400;
	text-transform: uppercase;
}